*.pyc/Users/bejones/Developer_AppEngine/ndb_store/apiclient
/Users/bejones/Developer_AppEngine/ndb_store/cron.yaml
/Users/bejones/Developer_AppEngine/ndb_store/google-api-python-client-gae-1.2.zip
/Users/bejones/Developer_AppEngine/ndb_store/httplib2
/Users/bejones/Developer_AppEngine/ndb_store/main.pyc
/Users/bejones/Developer_AppEngine/ndb_store/oauth2client
/Users/bejones/Developer_AppEngine/ndb_store/uritemplate